@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Don't Be Lazy</h1>
    <br />
    <div class="text-left">
        <p>Bok! Ovo je moja prva web-aplikacija. Još imam puno posla i ideja koje želim implementirati, a sve promjene ću redovito uploadati na GitHub.</p>
        <p>Budući da aplikacija nije završena, na svakoj ću stranici ostaviti kratke upute i opis, kako bi ovo što trenutno postoji na aplikaciji bilo jasno i smisleno.</p>
        <br />

        <p>Cilj ove aplikacije je vođenje evidencije o projektima koje korisnik radi i izračun statistike (koliko vremena je uloženog u završetak pojedinog projekta). </p>
        
        <p>Front-end ekipu molim za isprike, svjesna sam kriminalnog izgleda aplikacije :D Dio ideja koje su u planu vezane su za "uljepšavanje" :)</p>
        <br />

        <p>Hvala što ste tu :)</p>
    </div>
   
</div>
